.wpdlib-input {
  width: 100%;
  max-width: 500px;
}

.wpdlib-input .wpdlib-checkbox,
.wpdlib-input .wpdlib-radio {
  float: left;
  width: 48%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1%;
}

@media all and (min-width: 1280px) {
  .wpdlib-input .wpdlib-checkbox,
  .wpdlib-input .wpdlib-radio {
    width: 32%;
  }
}

.wpdlib-input .wpdlib-checkbox.box input,
.wpdlib-input .wpdlib-radio.box input {
  display: none;
}

.wpdlib-input .wpdlib-checkbox.box label,
.wpdlib-input .wpdlib-radio.box label {
  display: block;
  text-align: center;
  cursor: default;
}

.wpdlib-input .wpdlib-checkbox.box div,
.wpdlib-input .wpdlib-radio.box div {
  display: block;
  height: auto;
  max-width: 100%;
  padding-bottom: 56.25%;
  cursor: pointer;
  -webkit-background-size: cover;
          background-size: cover;
  border: 4px solid #e5e5e5;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.wpdlib-input .wpdlib-checkbox.box div.checked,
.wpdlib-input .wpdlib-radio.box div.checked {
  border-color: #0074a2;
}

.wpdlib-narrow .wpdlib-input .wpdlib-checkbox,
.wpdlib-narrow .wpdlib-input .wpdlib-radio {
  float: none;
  width: 100% !important;
  margin-left: 0;
}

.meta-box-sortables .wpdlib-input-select,
.meta-box-sortables .wpdlib-input-multiselect {
  max-width: 500px;
}

.wpdlib-input-repeatable {
  max-width: none !important;
}

.wpdlib-input-checkbox {
  width: auto !important;
}

.wpdlib-input-color {
  max-width: 100px !important;
}

.wpdlib-input-range-viewer {
  height: 27px;
  text-align: right;
}

.wpdlib-input-range-viewer + input {
  height: 27px;
  vertical-align: bottom;
}

.wpdlib-input-range-viewer {
  width: 40px;
  margin-right: 5px;
}

.wpdlib-option-box-wrap {
  position: relative;
  display: inline-block;
}

.wpdlib-option-box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 16px;
  margin-top: -8px;
  -webkit-background-size: cover;
          background-size: cover;
}

.wpdlib-option-box-text {
  margin-left: 42px;
}

.wpdlib-input-repeatable {
  width: 100%;
  overflow: auto;
}

.wpdlib-repeatable-table {
  width: 100%;
  margin: 10px 0;
  clear: both;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

.wpdlib-repeatable-table,
.wpdlib-repeatable-table th,
.wpdlib-repeatable-table td {
  border: 1px solid #dddddd;
}

.wpdlib-repeatable-table th,
.wpdlib-repeatable-table td {
  width: auto;
  padding: 4px;
  margin-bottom: 5px;
}

.wpdlib-repeatable-table th.wpdlib-repeatable-number,
.wpdlib-repeatable-table td.wpdlib-repeatable-number {
  width: 25px;
}

.wpdlib-repeatable-table th.wpdlib-repeatable-remove,
.wpdlib-repeatable-table td.wpdlib-repeatable-remove {
  width: 80px;
  text-align: center;
}

.wpdlib-repeatable-table .wp-mediapicker-content-wrap,
.wpdlib-repeatable-table .wp-mappicker-map-canvas-wrap {
  width: 160px;
}

.wpdlib-repeatable-table .wp-mediapicker-content .mime-type-icon {
  height: 48px;
  margin-top: -24px;
}

.wpdlib-repeatable-table .wp-mediapicker-content .mime-type-icon img {
  height: 32;
}

.wpdlib-repeatable-table .wp-mediapicker-content .mime-type-icon span {
  height: 16px;
  line-height: 16px;
}

.wpdlib-narrow .wpdlib-repeatable-table {
  table-layout: auto;
}

.wpdlib-form-table {
  table-layout: fixed;
}

.wpdlib-narrow .wpdlib-form-table,
.wpdlib-narrow .wpdlib-form-table > thead,
.wpdlib-narrow .wpdlib-form-table > tbody,
.wpdlib-narrow .wpdlib-form-table > tfoot {
  display: block;
}

.wpdlib-narrow .wpdlib-form-table > tr,
.wpdlib-narrow .wpdlib-form-table > thead > tr,
.wpdlib-narrow .wpdlib-form-table > tbody > tr,
.wpdlib-narrow .wpdlib-form-table > tfoot > tr {
  display: block;
}

.wpdlib-narrow .wpdlib-form-table > tr > th,
.wpdlib-narrow .wpdlib-form-table > thead > tr > th,
.wpdlib-narrow .wpdlib-form-table > tbody > tr > th,
.wpdlib-narrow .wpdlib-form-table > tfoot > tr > th,
.wpdlib-narrow .wpdlib-form-table > tr > td,
.wpdlib-narrow .wpdlib-form-table > thead > tr > td,
.wpdlib-narrow .wpdlib-form-table > tbody > tr > td,
.wpdlib-narrow .wpdlib-form-table > tfoot > tr > td {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.wpdlib-narrow .wpdlib-form-table > tr > th,
.wpdlib-narrow .wpdlib-form-table > thead > tr > th,
.wpdlib-narrow .wpdlib-form-table > tbody > tr > th,
.wpdlib-narrow .wpdlib-form-table > tfoot > tr > th {
  padding-top: 10px;
}

.wpdlib-narrow .wpdlib-form-table > tr > td,
.wpdlib-narrow .wpdlib-form-table > thead > tr > td,
.wpdlib-narrow .wpdlib-form-table > tbody > tr > td,
.wpdlib-narrow .wpdlib-form-table > tfoot > tr > td {
  padding-top: 4px;
  padding-bottom: 6px;
}

@media screen and (max-width: 782px) {
  .wpdlib-input .wpdlib-checkbox,
  .wpdlib-input .wpdlib-radio {
    float: none;
    width: 100% !important;
    margin-left: 0;
  }
}